<ion-navbar>
  <button *ngIf="showLeftMenuButton" ion-button icon-only (click)="toggleMenu()" menuToggle="leftMenu">
      <ion-icon name="menu"></ion-icon>
  </button>
  <span padding>
    <img src="assets/icon.png" height="35" width="35" />
    <ion-title>KoiosAnalytics</ion-title>
  </span>
  <button mobile-hidden ion-button>
      <ion-icon name="search"></ion-icon>
      Search
  </button>
  <koios-menu-item link="['/about']" title="About" icon="analytics"></koios-menu-item>
  <koios-menu-item link="['/dashboard']" title="Dashboard" icon="analytics"></koios-menu-item>
  <koios-menu-item link="['/protected']" title="Protected" icon="analytics"></koios-menu-item>
  <!--<ng-content></ng-content>-->
  <ion-buttons end>
    <koios-userinfo summary="true" [hidden]="canShowUserComponentInHeader"></koios-userinfo>
    <button invisible-to="mobile" [hidden]="canShowUserComponentInHeader" ion-button (click)="presentPopover($event)">
      <ion-icon name="person"></ion-icon>
      {{name}}
    </button>
  </ion-buttons>
</ion-navbar>
<breadcrumbs></breadcrumbs>
